{% extends "base1.html" %}
{% load static %}
{% block headers %}
<title>INDEX</title>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    {% endblock %}

{% block content %}
    <div style="padding-top:20px">
        <button type="button" class="btn btn-secondary btn-sm">Contest</button><br><br>
        <button type="button" class="btn btn-secondary btn-sm">Options</button><br><br>
        <button type="button" class="btn btn-secondary btn-sm">Logout</button><br><br>
    </div>

    {% endblock %}
    