{% extends "base1.html" %} 
{% load static %} 
{% block headers %}
<title>administrator</title>
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% endblock %}



{% block content%}
    <div style="margin-top: 120px; margin-bottom :100px">
        <div class="m-0 row justify-content-center" >  
        <div class="col-auto p-5  text-center">
        <button type="button" class="btn btn-primary btn-lg btn-block" style="display: inline;">Rune</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block">Score</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block">Clasifications</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block">User</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block">Problems</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block">Languages</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block">Answers</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block">Miec</button><br>
        <button type="button" class="btn btn-secondary btn-lg btn-block">Tools</button>
        </div>
        </div>
    </div>
    {% endblock %}