
{% extends "base2.html" %}
{% load static %}
{% block headers %}
<title>CONTEST</title>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    {% endblock %}
{%block content%}
<div class="m-0 row justify-content-center" >  
  <div class="col-auto p-5 text-center">
        <h4>Select a contest or create a new one</h4>
        <div class="col-auto p-5 text-center">
        <a class="btn bg-light dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Contest Numbers</a>
                  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                   <!-- {% for au in listaO %}  
                    <li><a class="dropdown-item" href="{% url 'Contest_view' au.id %}">{{ au.get_numero }}</a></li> 
                    {% endfor %}   
                    <li><a class="dropdown-item" href="">New</a></li>-->                 
                  </ul> 
                </div>
                </div>
              </div>
                {%endblock%} 