{% extends "base1.html" %}
{% load static %}

{% block headers %}
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block content %}
<form>
  <p class="text-center">SISTEMAS DE COMPETENCIAS BOCA</p>
  <img src="{% static 'css/usuario2.png' %}" width="40" height="40" alt="">
  <div class="form-group">
    <label for="exampleFormControlInput1">USUARIO: </label>
    <input type="email" class="form-control" id="formcontrol">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">CONTRASEÑA: </label>
    <input type="password" class="form-control" id="formcontrol">
  </div>
  <div class="justify-content-center align-items-center">
    <div class="col-auto p-5 text-center">
    <button type="button" class="btn btn-outline-secondary" text-align:"center">Registrarse</button>
  </div>
  </form>
  {% endblock %}
