{% extends "base1.html" %}
{% load static %}

{% block headers %}
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block content %}
<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">USUARIO: </label>
    <input type="email" class="form-control" id="formcontrol" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">CONTRASEÑA: </label>
    <input type="password" class="form-control" id="formcontrol">
  </div>
  <button type="button" class="btn btn-outline-secondary" text-align:"center">Registrarse</button>
</form>
  {% endblock %}
