{% extends "base1.html" %}
{% load static %}

{% block headers %}
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block content %}
<form method="post" action="{% url 'login' %}" style="margin-top: 10%; border: solid; border-radius: 3em; border-color: silver;">
  {% csrf_token %}
  <p class="text-center">SISTEMAS DE COMPETENCIAS BOCA</p>
  <img src="{% static 'css/usuario2.png' %}" width="50" height="50" alt="">
  <div class="form-group">
    <label for="exampleFormControlInput1" style="margin-right: 15px;">USUARIO: </label>
    {{form.username}}
    
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1" style="margin-right: 33px; margin-top: 15px;">CLAVE: </label>
   {{ form.password }}
  </div>
  <div class="justify-content-center align-items-center">
    <div class="col-auto p-5 text-center">
    <input type="submit" value="INGRESAR" class="btn btn-outline-secondary"/>
    
  </div>
  </form>
  {% endblock %}
